<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @city_list, partial: "card", as: :city_list %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "city_lists/city_list_entries" %>
  </div>
</div>
