<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Lists

    <a data-toggle="collapse" href="#user_lists_new_form">
      Add entry
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.lists.each do |entry| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to entry, entry %>

        <%= link_to entry, method: :delete, data: { confirm: "Do you really want to delete this entry" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_lists_new_form">
        <%= render partial: "users/user_lists_new_form" %>
      </div>
    </div>

  </ul>
</div>
